.main_menu {
    background-color: #222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main_menu a {
    font-size: 48px;
    color: goldenrod;
    /* text-decoration: underline; */
}